.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  margin-bottom: 16px;
  color: #f7f7f7;
}

.desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 40px;
  color: #f7f7f7;
}

.nav {
  padding: 16px 49px;
  border-radius: 200px;
  background-color: #e44848;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.nav:hover,
.nav:focus {
  background-color: #d84343;
}
