.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 360px;
  gap: 8px;
  margin-bottom: 40px;
}

.loc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}

.locForm {
  border: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 48px;
}

.locIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(30%);
  fill: #6c717b;
  stroke: #6c717b;
  width: 20px;
  height: 20px;
  transition: all 250ms linear;
}

.locForm::placeholder {
  color: #6c717b;
}

.locForm:focus {
  outline: none;
  color: #101828;
}

.locForm:focus + .locIcon {
  fill: #101828;
  stroke: #101828;
}

.filterDesc {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 32px;
}

.eqContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
  margin-bottom: 32px;
}

.equipment {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  padding-bottom: 24px;
  border-bottom: 2px solid #dadde1;
}

.eqFilterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.checkBoxLabel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #101828;
  border-radius: 12px;
  min-width: 112px;
  min-height: 96px;
  cursor: pointer;
}

.checkBox {
  position: absolute;
  appearance: none;
  opacity: 0;
}

.typeFilterContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.searchBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #ffffff;
  padding: 16px 57px;
  border-radius: 200px;
  background-color: #e44848;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.searchBtn:hover {
  background-color: #d84343;
}

.icon {
  fill: #101828;
  stroke: #101828;
  width: 32px;
  height: 32px;
}
